:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-style: Medium;
  font-size: 11px;
}
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

#root {
  height: 100dvh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 143px;
}
.return-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 104px;
  width: 310px;
}

.logo-header-info-page {
  margin-bottom: 20px;
}

.material-symbols-outlined {
  color: #682076;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: #3481e2;
}

p {
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 0;
}

.button {
  box-shadow: 0px 1px 2px 0px #0000000d;
  text-decoration: none;
  color: white;
  width: 310px;
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  gap: 8px;
  opacity: 1;
  text-align: center;
}

.blue {
  background-color: #3481e2;
}

.purple {
  background-color: #682076;
}

.button:hover {
  cursor: pointer;
}

h1 {
  background: #4344452e;
  width: 306px;
  border-radius: 8px;
  opacity: 1;
  margin: auto;
  margin-top: 30px;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

footer {
  color: #0000008c;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer p {
  margin: 0;
}

.loader-container {
  display: grid;
  place-content: center;
  height: 100dvh;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3481e2;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.scan-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  padding: 20px;
  height: 100dvh;
}
.scan-notice p {
  margin: 0;
  width: 320px;
}

.scan-gif {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.error-img {
  width: 150px;
}

.form-field-container {
  width: 310px;
  display: flex;
  flex-direction: column;
}

.form-field-label {
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-field-input {
  width: 100%;
  padding: 14px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 11px;
  background: #4344452e;
}

.form-field-input.textarea {
  height: 90px;
  resize: none;
}

.form-error {
  color: #d11;
  font-size: 10px;
  margin-top: 4px;
}

.form-field-input:focus {
  outline: none;
  border: 1px solid #4344452e;
  box-shadow: 0 0 0 2px #6820761b;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.toolbar button {
  border: none;
  background-color: #f2f2f2;
}

.toolbar button:hover {
  color: #3481e2;
}

.tools,
.select-and-save {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-and-save select {
  background-color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-style: Medium;
}

.editor-container main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
}

textarea,
.visualizer {
  border: none;
  resize: none;
  padding: 10px;
  overflow: scroll;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
}

textarea {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
textarea ::-webkit-scrollbar {
  display: none;
}

.visualizer {
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  height: 550px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vizualizer-container {
  display: flex;
  height: 100%;
  justify-content: center;
  background: rgba(255, 255, 255, 0.48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.visualizer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizer-content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.visualizer-content ::-webkit-scrollbar {
  display: none;
}

.visualizer-content h1 {
  font-size: 18px;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: #4344452e;
  border-radius: 8px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visualizer-content h2 {
  color: #682076;
  font-weight: 800;
  font-style: Bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.visualizer-content h3 {
  font-size: 14px;
  color: #682076;
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.visualizer-content p {
  color: black;
  font-style: Bold;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: justify;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.visualizer-content a {
  color: #682076;
}

.visualizer-content iframe {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.visualizer-content p img {
  width: 300px;
  margin: auto;
}

.logotipo {
  width: "50px";
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.visualizer-content ul,
.visualizer-content ol {
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.visualizer-content ul p,
.visualizer-content ol p {
  width: 100%;
}

.visualizer-content li {
  color: black;
  font-style: Bold;
  font-size: 11px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transition: transform 0.3s ease;
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 10px;
}
.close-container button {
  background-color: #fff;
}

.links-container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #682076;
  padding: 10px;
}

.link:hover {
  color: #3481e2;
  background-color: #f2f2f2;
}

.close {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
}

.modal-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
}

.modal-actions button:hover {
  background-color: #682076;
}
