:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-style: Medium;
  font-size: 11px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 143px;
}
.return-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 104px;
  width: 310px;
}

.material-symbols-outlined {
  color: #682076;
  text-decoration: none;
}

p {
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 0;
}

.button {
  box-shadow: 0px 1px 2px 0px #0000000d;
  text-decoration: none;
  color: white;
  width: 310px;
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  gap: 8px;
  opacity: 1;
  text-align: center;
}

.blue {
  background-color: #3481e2;
}

.purple {
  background-color: #682076;
}

.button:hover {
  cursor: pointer;
}

h1 {
  background: #4344452e;
  width: 306px;
  border-radius: 8px;
  opacity: 1;
  margin: auto;
  margin-top: 30px;
  font-weight: 500;
  font-style: Medium;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

footer {
  color: #0000008c;
  margin-bottom: 30px;
}
footer p {
  margin: 0;
}

.loader-container {
  display: grid;
  place-content: center;
  height: 100dvh;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #3481e2;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.scan-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  padding: 20px;
  height: 100dvh;
}
.scan-notice p {
  margin: 0;
  width: 320px;
}

.scan-gif {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.error-img {
  width: 150px;
}
